div(class='team-info-panel-block')
    div(class='team-info-panel-name')
        #{team.name}
    div(class='team-info-panel-description')
        if team.publishProjectDescription == true
            p #{team.publicDescription}
        else
            p(class='nonPublicDescription') Description Not Public
    div(class='team-info-panel-members')
        each participant in team.participants
            img(src='https://secure.gravatar.com/avatar/#{participant.gravatarId}?s=30')
    div(class='team-panel-needs-bar')
        if (team.needsDevelopers)
            span(class='team-info-panel-needs-block') Needs Developers
        if (team.needsDesigners)
            span(class='team-info-panel-needs-block') Needs Designers
         if (team.needsIdeas)
            span(class='team-info-panel-needs-block') Needs Ideas