link(rel='stylesheet', href='stylesheets/index.css')
div(class='banner')
    div(class='banner-content') #{title}
div(id='page')
    div(class='section-header') #{sectionTitle}
    div(class='step-section-selected')
        div(class='step-section-number-selected')
            div(class='step-section-number-content') 1
        div(class='step-section-content')
            p Setup a Github Account
            p(class='tiny-description') A Github (TM) account is required for the hackathon.
            form(class='button-form')
    div(class='step-section-unselected')
        div(class='step-section-number-unselected')
            div(class='step-section-number-content') 2
        div(class='step-section-content')
            p Registration Type
    div(class='step-section-unselected')
        div(class='step-section-number-unselected')
            div(class='step-section-number-content') 3
        div(class='step-section-content')
            p Team Selection
