div(class='section-header') #{sectionTitle}
script(type='text/javascript')
    function signup() {
        location.href='/participant-signup'
    }
div(class='step-section-selected')
    div(class='step-section-content')
        p Welcome
        p(class='tiny-description', style='margin:1em') This will be the main system to view / manage teams and team members. More to come.
        p(style='margin:1em')
                form(class='buttons')
                    input(type='button',value='Signup / Sign In',onclick='signup()')
        p(style='margin: 2em')
        p(class='tiny-description', style='margin:1em') This application is open source and is currently in active development.
        p(class='tiny-description', style='margin:1em') The github repo is at: <a href='https://github.com/hack4reno/hackathon-registration'>https://github.com/hack4reno/hackathon-registration<a/>.


