link(rel='stylesheet', href='stylesheets/index.css')
script(src='javascripts/index.js')
div(class='banner')
    div(class='banner-content') #{title}
div(id='page')
    div(class='section-header') #{sectionTitle}
    div(class='step-section-selected')
        div(class='step-section-number-selected')
            div(class='step-section-number-content') 1
        div(class='step-section-content')
            p Setup a Github Account
            p(class='tiny-description') A Github &#0153; account is required for the hackathon.
            form(class='buttons')
                input(type='button',value='Sign in with Github',onclick='signin()')
                input(type='button',class='longer-button', value='Sign up for an account',onclick='createGithubAccount()')
    div(class='step-section-unselected')
        div(class='step-section-number-unselected')
            div(class='step-section-number-content') 2
        div(class='step-section-content')
            p Team Selection
