
script(type='text/javascript')
    function signup() {
        location.href='/participant-signup'
    }
div(class='step-section-selected')
    div(class='step-section-content')
        p Welcome
        if(devMode == true)
            p(style='margin:0.5em; margin-top:0.5em; font-size:110%; font-weight:bold; text-decoration:underline') Beta Test Mode Active
        p(style='margin: 1em')
        p(class='tiny-description', style='margin:0.5em;') This is the main system to view / manage teams and team members. Updates will be periodically applied.
        p(style='margin: 1em')
        p(class='tiny-description', style='margin:0.5em; font-weight: bold') A Github &#0153; account is required for the hackathon. You can signup for free or login to your account.
        p(style='margin: 2em')

        p(style='margin:0.5em')
                form(class='buttons')
                    input(type='button',value='Sign In',onclick='signin()')
                    input(type='button',class='longer-button', value='Sign up for an account',onclick='createGithubAccount()')
        p(style='margin: 2em')
        p(class='tiny-description', style='margin:0.5em') This application is open source and is currently in active development.
        p(class='tiny-description', style='margin:0.5em') The github repo is at: <a href='https://github.com/hack4reno/hackathon-registration'>https://github.com/hack4reno/hackathon-registration<a/>.
        p(style='margin: 2em')

