div(class='section-header') #{sectionTitle}
div(class='step-section-selected')
    div(class='step-section-content')
        p We're Sorry!
        p(class='tiny-description') The app is currently down for maintenance. Please come back a bit later.
