div(class='section-header') #{sectionTitle}
div(class='step-section-selected')
    div(class='step-section-content')
        p Overlord Account Successfully Setup
        p(class='tiny-description', style='margin:1em') Congratulations, the overlord account has been granted access. Please set 'overlordSetup' as true and set the 'overlordUsername' and 'overlordPassword' fields. Then restart your server.
        p(class='tiny-description', style='margin:1em') Token : #{token}
        p(class='tiny-description', style='margin:1em') Code : #{code}