link(rel='stylesheet', href='stylesheets/signupStep2.css')
script(src='javascripts/signupStep2.js')
div(class='banner')
    div(class='banner-content') #{title}
div(id='page')
    div(class='section-header-small-padding') #{sectionTitle}
    div(class='step-section-completed')
        div(class='step-section-content')
            div(class='step-sub-content')
                img(src='#{gravatarURL}')
            div(class='step-sub-content')
                div Github Account Registered
                div(class='tiny-description') #{userName}
    div(class='step-section-completed')
        div(class='step-section-content')
            div(class='step-sub-header-left-padded')
                div(class='step-sub-header-vertical-aligned-content')
                    p Team Selection
                div(class='step-sub-header-vertical-aligned-content')
                    form(class='buttons', style='margin-left: 1em')
                        input(type='button', value='+ Create New Team', onclick='showCreateNewTeamForm()')
            div(class='step-sub-content')
                div(class='team-list')
                    != partial('team-join-panel', {collection: teams, as: 'team'})
                    
