link(rel='stylesheet', href='stylesheets/signupStep2.css')
script(src='javascripts/signupStep2.js')
div(class='section-header-small-padding') #{sectionTitle}
div(class='step-section-completed')
    div(class='step-section-content')
        div(class='step-sub-content')
            img(src='#{gravatarURL}')
        div(class='step-sub-content')
            div Github Account Registered
            div(class='tiny-description') #{userName}
div(class='step-section-completed')
    div(class='step-section-content')
        p Team Selection - Options
            div(class='toggle-button-row')
                input(type='button', id='button-teamselection-createateam', class='tiny-toggle-button', value='Create a Team', onclick='toggleCreateATeam()')
                input(type='button', id='button-teamselection-joinateam', class='tiny-toggle-button', value='Join a Team', onclick='toggleJoinATeam()')
div(class='step-section-completed',id='team-create-section',style='display:none')
    div(class='step-section-content-underneath')
        div(id='section-create-new-form')
                form(id='newteam-form', style='margin-left: 1em',action='create-and-join-team',method='POST')
                    != partial('team-edit-panel', {locals: {isNew: true, team: newTeam}})
                    div(class='main-button-row')
                        div(class='buttons')
                            form(class='buttons')
                                input(type='button',value='Create Team',onclick='createTeamSubmit()')
                                input(type='button',class='longer-button', value='Cancel',onclick='toggleJoinATeam()')
div(class='step-section-completed',id='team-join-section', style='display:none')
    div(class='step-section-content-underneath')
        div(class='step-sub-content',id='subcontent-team-list')
            div(class='team-list')
                if needsTeams.length > 0
                    != partial('team-join-panel', {collection: needsTeams, as: 'team'})
                else
                    p There are no teams currently seeking participants.

